<div class="grid-element"> <img src="/img/Escudo.png" class="fixed-element" alt=""></div>
<section>
    <div id="lineRed"></div>
    <div id="lineRedRight"></div>

    <img id="shield" src="/img/Escudo.png" alt="Escudo">
    <p id="title">LA BANDA DEL RAYO</p>
    <div class="grid-ray">
        <img id="ray" src="/img/rayo.png" width="200" alt="">
    </div>
</section>
<div id="scroll"></div>
<article id="lastResult">
    <div class="grid-result">
        <h2 id="last">ÚLTIMO RESULTADO</h2> <a href="#post"> <img id="lastImg" width="300"
                src="/img/last vs.webp" alt=""> </a>
    </div>
    <div id="separatorLine"></div>
    <div class="grid-text">
        <p id="result">Muñiz 0-1 Centro Español</p>
        <p id="detail">Semifinal - Ida</p>
        <p id="date">Sábado 22/10 - 15:30 hs </p>
        <p id="stadium">Estadio Atlas Gral Rodriguez</p>
    </div>
</article>

<article id="nextMatch">
    <div class="grid-result2">
        <h2 id="next">PRÓXIMO PARTIDO</h2> <img id="aDefinir" width="300" src="/img/a definir.png" alt="">
    </div>
    <div id="separatorLineT"></div>
    <div class="grid-text2">
        <p class="detail">Fecha 1</p>
        <p class="stadium">Estadio Atlas Gral Rodriguez</p>
    </div>
</article>
<div class="grid-team">
    <img id="team"
        src="https://copaargentina-photos.s3.amazonaws.com/m14368_crop169014_1024x576_proportional_145995924767C1.jpg"
        alt="">
</div>
<div id="scrollTv"></div>
<article id="yt">

    <div class="grid-tv">
        <h1 id="titleTv">FECHA 1 - TORNEO COMPLEMENTARIO</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bTTZvfHgU4A?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <a href="mailto:munizfutbolclub@gmail.com?"><button>Acreditaciones</button>
        </a>
    </div>


</article>

<div class="grid-carro">
    <div id="redes"></div>
    <div id="carousel"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="https://www.instagram.com/munizc_oficial/" target="_blank"> <img class="d-block"
                        src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo.png"
                        alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a href="https://mobile.twitter.com/ClubMuniz" target="_blank"> <img class="d-block"
                        src="https://www.edigitalagency.com.au/wp-content/uploads/Twitter-logo-png.png"
                        alt="Second slide"></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.facebook.com/munizc_oficial-103279877981203" target="_blank"> <img
                        class="d-block"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png"
                        alt="Third slide"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>
<div class="grid-post">
    <article id="post">
        <h1 id="postTitle">MUÑIZ - CENTRO ESPAÑOL</h1>
        <iframe id="posting" src="https://www.instagram.com/p/CkCNLvNJnF4/embed" width="640" height="720"
            frameborder="0" scrolling="no"></iframe>

    </article>
</div>
<div id="inferiores">
    <article>
        <div class="grid-pib">
            <h1 id="infTitle">¡NUESTROS PIBES!</h1>
            <iframe id="postingInf" src="https://www.instagram.com/p/Ci83Ek5j-px/embed" width="640"
                height="720" frameborder="0" scrolling="no"></iframe>

        </div>
    </article>
</div>