<footer>
    <div class="grid-footer">
        <div class="gridf-center">
            <div id="firstBackgroundFooter"></div>
            <a href="#topHeader" id="top"> <img id="shieldFooter" src="/img/Escudo.png" alt="Escudo"></a>

            <div id="separatorLineFooter"></div>
            <a href="https://aloriasociados.com.ar/" target="_blank"><img src="/img/sponsor.png" alt=""
                    id="sponsor"></a>

            <p id="sponsorFont">Sponsor</p>
            <div id="secondBackgroundFooter">
                <p id="followUs">SEGUINOS</p>
                <a href="https://www.youtube.com/channel/UCGzj6eb1-IC-9WvfEadvsfQ" target="_blank"><i
                        class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/munizc_oficial/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/munizc_oficial-103279877981203" target="_blank"><i
                        class="fa-brands fa-square-facebook"></i></a>
                <a href="https://mobile.twitter.com/ClubMuniz"><i class="fa-brands fa-twitter"></i></a>
                <a href="/inConstruction.html" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="mailto:munizfutbolclub@gmail.com?" id="contactUs">
                    <p>CONTACTANOS</p>
                </a>
                <span id="developing">Desarrollado por © SPT</span>
                <span id="copy">© Copyright 2022 Club Social Cultural y Deportivo Muñiz</span>
            </div>
        </div>
    </div>
</footer>