<Header>
    <div id="topHeader">
        <i class="fa-solid fa-bolt"></i> <i class="fa-solid fa-phone"></i> <i class="fa-solid fa-envelope"></i>
        <p id="mail">munizfutbolclub@gmail.com</p>
    </div>
    <nav id="mainHeader">
        <a class="escudeto2" href="#shieldFooter">
            <img src="/img/Escudo.png" width="80" height="70" alt="Escudo" class="ss"></a>
        <ul id="oneL">
            <li><a href="#scroll">Partidos</a></li>
            <li><a href="#infTitle">Inferiores </a></li>
            <li><a href="#contactScroll">Contacto</a></li>
        </ul>
        <ul id="twoL">
            <li><a href="#buttonH">Club</a></li>
            <li><a href="#scrollTv">MuñizTv</a></li>
            <li><a href="#redes">Redes</a></li>
        </ul>
    </nav>
</Header>