<div class="buttonH" id="buttonH">
    <button id="mostrar-texto">Mostrar Historia</button></div>
    <div class="Historia" id="Historia">
        
        <div id="history">

            <p>

            <h1 id="titleHistory">HISTORIA</h1>
            El club fue fundado el 9 de julio de 1932 en General Sarmiento (hoy en día San Miguel, después de su
            división).

            La primera afiliación a la Asociación del Fútbol Argentino tiene lugar en 1956, pero el club se
            desafilia voluntariamente en 1964. Vuelve a participar de los torneos de AFA en 1980 y en 1981 logra
            el ascenso a Primera "C", por entonces la tercera división del fútbol argentino. En abril de 1980
            inaugura su estadio, que después debe abandonar.

            El club obtiene su primer título en la temporada 1986/87, al consagrarse campeón de la Primera D.
            Pierde la categoría en siete oportunidades (1964, 1990/91, 1994/95, 2001/02, 2005/06, 2007/08 y
            2009/10), por tener el peor promedio de la última división, debiendo permanecer inactivo
            (desafiliado) por una temporada. El equipo regresa para la temporada 2011/12.

            Es protagonista del primer partido oficial en la historia del país con una mujer árbitro, Florencia
            Romano, quien en abril de 1998 dirige un encuentro frente a Victoriano Arenas.

            En 2011 surge la posibilidad de hacer un gerenciamiento con el Club Atlético Independiente de
            Chivilcoy, trayendo importantes beneficios para la institución, pero finalmente es desestimado. Ese
            mismo año participa por primera vez en la Copa Argentina, en su nueva edición 2011/12, con la
            participación de más de 170 equipos de todo el país, pero no logra superar la primera ronda. En la
            edición 2012/13, enfrenta por primera vez a un equipo de otra divisional, el Deportivo Español.
            Iguala el encuentro 3-3 pero cae en la definición por penales por 4 a 3. Su apodo es RAYO ROJO por
            idea de los periodistas locales Juan Carlutti y Juan Gallotti. En Futsal, el club se consagra
            campeón de la Primera división de AFA en 1988.

            En la temporada 2013-14 termina décimo segundo en la Primera D, con 42 puntos, producto de 10
            victorias, 12 empates y 12 derrotas, alejado del reducido. En el ámbito Copa Argentina, ganaría su
            primer partido en la Fase Inicial Metropolitana frente a Sportivo Barracas por penales, luego de
            empatar 0-0 en los 90 minutos. Al pasar de ronda se enfrenta a Central Ballester. Llegan a los
            penales luego de empatar a 1, pero esta vez pierden por 5-3.

            En el Torneo Transición de 2014, Muñiz solo logra sacar 1 punto en 16 partidos, logrado por un
            empate 0-0 contra Victoriano Arenas. Por la Copa Argentina jugaría frente Excursionistas de la
            Primera C. El partido lo ganaría el equipo de la división superior por 0-3. Esta sería su última
            participación (hasta el momento) en la Copa.

            La temporada 2015 fue muy exitosa para el conjunto de Muñiz, ya que terminaron sextos, a 4 puntos
            del reducido. Lograron 44 puntos, producto de 11 victorias, 11 empates y 8 derrotas.

            En el Transición 2016, lograría sacar 17 puntos, quedando en décimo lugar, ganando 4, empatando 5 y
            perdiendo 5.

            En la temporada 2016-17, Muñiz terminó en el ante-último lugar logrando 28 puntos en 30 fechas.

            <h1 id="titleEstadium">ESTADIO</h1>
            Inaugurado en 1980, estaba ubicado en la intersección de Avenida Croacia y Juan Cruz Varela, partido
            de José C. Paz, en el barrio Vucetich, razón por la cual era conocido popularmente como La Vuce.

            Sin embargo, no lo pudo mantener por mucho tiempo ya que lo perdió unos años después. El lote donde
            se encontraba la cancha fue vendido a una empresa de colectivos, que entró en proceso de quiebra e
            incumplió el pago acordado. El club debería haber recuperado el predio, pero cuando los directivos
            quisieron volver a tomar posesión del mismo ya había sido ocupado por vecinos. Entonces, comenzó una
            peregrinación por otros estadios de distintos clubes que continúa hasta el día de hoy. El último
            partido en su estadio fue disputado el 26 de noviembre de 1988 en un encuentro válido por el torneo
            de Primera C ante Luján que finalizó con triunfo de Muñiz por 1-0.

            En el año 2017 recuperó las escrituras del terreno donde se encontraba la cancha pero aún no ha
            logrado avanzar con la construcción de un nuevo estadio y así poder retornar a su hogar y su lugar
            de origen, ya que el predio permanece todavía en parte ocupado por vecinos.

            Al no tener estadio propio, ejerce su condición de local en distintos estadios como el del San
            Miguel o el de Juventud Unida, entre otros. En 2016 hizo de local en el Estadio Municipal de Pilar.
            En julio del 2017 el club recuperaría las escrituras de su estadio de Avenida Croacia y Juan Cruz
            Varela, en el barrio Vucetich partido de José C. Paz. En la temporada 2018/19 el club ejerció su
            localía en el estadio de Belgrano de Zárate, mientras que en la temporada 2019/20 hizo las veces de
            local en el Estadio José María Moraños, propiedad de Lugano. En el campeonato actual disputa la
            localía en el Estadio del Deportivo Malvinas de Ingeniero Adolfo Sourdeaux.

        

        </div>
        <div id="players">


            <h1 id="titlePlayers">JUGADORES:</h1>


            - Arqueros: Nahuel Miguel: Inferiores; Lucas Alexis Romano: ex Amalia (Tuc.)
            <br>
            - Defensores: Santiago Acosta, Octavio Villegas Escudero, Ian Mercado,<br> Facundo Lallana y Alan
            Marcelo Furgencio: Inferiores; Gastón Iñaki Albornoz: ex San Telmo
            <br>
            - Mediocampistas: Alejandro Ezequiel Acuña: ex Juventud Unida; Iván Bazán,<br> Iván Malmoria,
            Agustín Pogonza y Thomas González Cartelle:<br> Inferiores; Mariano Alejandro Morales: ex Central
            Ballester
            <br>
            - Delanteros: Nahuel Franquelli, Gonzalo Cristian Villafañe y Juan Cruz Ledesma:<br> Inferiores;
            Rafael Monti Aspiazu: ex Acasusso

            
        </div>


        <div id="datesClub">

            <p>
            <h1 id="titleDatesClub">DATOS DEL CLUB</h1>
            Temporadas en Primera C: 6 (1982-1984 y 1987/88-1989/90) <br>
            Temporadas en Primera D: 41 (1956-1964, 1980-1981, 1985-1986/87, <br> 1990/91, 1992/93-1994/95,
            1996/97-2001/02, 2003/04-2005/06, 2007/08, 2009/10, 2011/12-) <br>
            Temporadas desafiliado: 21 (1965-1979, 1991/92, 1995/96, 2002/03, 2006/07, 2008/09, 2010/11) 
            <h1 id="titleTotal">TOTAL</h1>
            <p id="total">
                Temporadas en Tercera División: 3 <br>
                Temporadas en Cuarta División: 16 <br>
                Temporadas en Quinta División: 28
            </p>

        </div>
    </div>