<div id="grid-aniv">
    <img src="/img/aniversario.jpeg" class="aniversario" alt="">
</div>
<div id="contactScroll"></div>
<div class="grid-contact">
    <div id="contactBox">
        <article id="contact">
            <h2>CONTACTO</h2>
            <div id="circle"></div>
            <h5>Dirección:</h5>
            <p id="contactP">Sgto Cabral 1261, Muñiz, Provincia de Buenos Aires</p>
            <div id="circle"></div>
            <h5>Teléfono:</h5>
            <p id="contactP">01135613081</p>
            <div id="circle"></div>
            <h5>Email:</h5><a href="mailto:munizfutbolclub@gmail.com?" id="emailP">
                <p>munizfutbolclub@gmail.com</p>
            </a>
        </article>

    </div>
</div>