.carousel{
    background-color: black;
    height: 38vh;
    width: 42.6vh;

    padding-top: 10vh;
    opacity: 0.8;
   
}
.carousel-inner{
    opacity: 20;
    height: 12em;
    position: relative;
  
}


.carousel-control-prev-icon{
position: relative;
left: 6vh;

}


.carousel-control-next-icon{
    position: relative;
right: 6vh;
}

.d-block {
    position: relative;
    width: 12vh;
    display:flex;
    left: 15.6vh;
    top: 2.8vh;
}
.carousel-control-prev-icon{
    width: 40px;
}
#redes{
    position:relative;
   bottom: 20em;
}


.grid-carro{
    position: relative;
    display: grid;
    top: 28em;
    
}

#carouselExampleIndicators{
    position: relative;
    justify-items: center;
    grid-column-start: 2;

}

@media (min-width: 769px){
    .carousel{
        width:50em;
        top: 10em;
    }
    .d-block{
        position: relative;
        left: 20.3em;
        width: 18vh;
       top: 0;
    }

    .carousel-control-next-icon{
        position: relative;
right:10em;
    }
    
   
    .carousel-control-prev-icon{
        position: relative;
        left: 10em;
    }
    
}

@media (min-width: 800px){
.carousel{
    top: -10em;
}
}

@media (min-width: 1335px){
    .carousel{
        width:60em;
        
    }
    .d-block{
        position: relative;
        left: 25.4em;
        width: 18vh;
       top: 0;
    }

    .carousel-control-next-icon{
        position: relative;
right:16em;
    }
    
   
    .carousel-control-prev-icon{
        position: relative;
        left: 16em;
    }
    
}

@media (min-width: 1600px){
.d-block{
   left: 24.5em;
}
}