.grid-contact{
    position: relative;
    display: grid;
    justify-items: center;
}
#contactBox{
    display: flex;
background-color: black;
height: 50vh;
position: relative;
top: 33em;
width: 43vh;
z-index: 3;
box-shadow: 0 0 10px 2px #ff0000;
margin-top: 5em;
} 

#contact{
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 35px;
}
#contact h2{
    position: relative;
    bottom: 1vh;
    right: 3vh;
    color: #CA1010;
}

#contact h5{
    font-family: sans-serif;
    font-weight: 200;
}

#contactP{
    position: relative;
    
    font-family: sans-serif;
    font-weight: 700;
    width: 10em;
}


#emailP {
    position: relative;
    
   
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    outline: none;
}

#emailP:hover{
    color: #CA1010;
    text-decoration-color:#CA1010;
    outline: none;
}


#circle {
    padding: 0.6vh;
    margin: 0.5;
    width: 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #CA1010;
z-index: 1;
    position: relative;
    top: 2vh;
    right: 2.5vh;
}


#contactScroll{
    position: relative;
    top:20vh;
}

#grid-aniv{
    position: relative;
    display: grid;
    justify-items: center;
}
.aniversario{
    position: relative;
    width: 50em;
    top: 12em;
    box-shadow: 0 0 10px 2px #ff0000;
}
@media (min-width:0px) and (max-width:799px) {
    .aniversario{
        display: none;
    }
}
@media (min-width:769px){
    #contactBox{
        margin-top: 14em;
    }
}
@media (min-width: 800px){
   
    #contactBox{
    
    width: 47em;
    height: 22em;
    top: 30em;
    } 


    #contactP{
        position: relative;
        
        font-family: sans-serif;
        font-weight: 700;
      width: 26em;
      bottom: 1.9em;
      left: 6em;
    }
    
    
    #emailP {
        position: relative;
        bottom: 1.9em;
      left: 4em;
    }
    

    
    #circle {
        padding: 0.6vh;
        margin: 0.5;
        width: 1px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #CA1010;
    z-index: 1;
        position: relative;
        top: 2vh;
        right: 2.5vh;
    }
    .aniversario{
        top: 36em;
       margin-top: 5em;
    }
    #mostrar-texto{
        top: 34.8em
     }
     #Historia{
         margin-bottom: -34em;
         margin-top: em;
     }
}
@media (min-width: 1335px){
    #contactBox{
        top:34em;
        width: 64em;
        } 
        .aniversario{
        width: 64em ;
        top: 32em;
        }
        #mostrar-texto{
            top: 33em;
        }
}

@media (min-width: 1600px){
    .aniversario {
        width: 110vh;
        top: 36em;
    }
    #mostrar-texto{
        top: 36em;
    }
    #contactBox{
        top:30em
    }
    
}