footer{
    position: relative;
   top: 91em;
  
}


.gridf-center{
   display: grid;
justify-items: center;
justify-content: center;

}

#firstBackgroundFooter{
    
    position: relative;


    width:43vh;
    background-color: #A21F24;
    height: 110vh;
    bottom: 57em; 
    z-index:2;  
}



#secondBackgroundFooter{
    position: relative;
    width:43vh;
    background-color:#6C1115;
    height: 35vh;
   bottom: 90.8em;
   z-index: 2;
}



#copy {
    position: relative;
    left: 1em;
    display: flex;
    justify-content: space-between;
    width: 16em;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}


#developing {
    position: relative;
    top: 7.5em;
   left: 8em;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}


#followUs{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 4vh;
    left: 2.5vh;
}

.fa-youtube,
.fa-instagram,
.fa-square-facebook,
.fa-twitter,
.fa-tiktok{
    color: white;
    font-size: 27px;
    position: relative;
    left:10vh;
    width: 4.8vh;
    top: 3.2vh;
}


#contactUs{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 5vh;
    left: 20vh;
    text-transform: uppercase;
}



#shieldFooter{
    position: relative;
   
    width: 30vh;
    bottom:5.5em;
    z-index:3;
}
 #top{
    position:relative;
    bottom: 92em;
 }


#separatorLineFooter{
    background-color: white;
    width: 90vh;
    height: 2px;
    bottom:95em;
    
    z-index:3;
    
    position: relative;
}



#sponsor{
    bottom: 89em;
    
    z-index:3;
    position: relative;
}


#sponsorFont{
    color: #fff;

    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 44px;
bottom: 56.5em;
    z-index: 3;
    position: relative;
 
}



#sponsor{
    filter: grayscale();
    border-radius: 8px;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}


#sponsor:hover{
 filter:none
}



#shieldFooter:hover{
        content:"";
        transition:1.9s;
        transform:rotate(-360deg) translate(0,-100px);
      
}

@media (min-width: 800px){
    footer{
        position: relative;
 top:90.5em;

    }
    
    #firstBackgroundFooter{


    
        width:90.8vh;
        background-color: #A21F24;
        height: 110vh;
        
        z-index:2;  
    }
    
   
    
    #secondBackgroundFooter{
        position: relative;
        width:90.8vh;
        background-color:#6C1115;
        height: 30vh;
       
       z-index: 2;
    }
    
    
    
    #copy {
        position: relative;
        left: 1em;
        display: flex;
        justify-content: space-between;
        width: 26em;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        color: white;
       top: 1.7em;
    }
    
    
    #developing {
        position: relative;
    
       left: 37em ;
        top: 3.5em;
    }
    
    
    
    #followUs{

  
        position: relative;
        top: 8.8vh;
        left: 2.5vh;
    }
    
    .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
        color: white;
        font-size: 27px;
        position: relative;
        left:20vh;
        width: 4.8vh;
        top: 4vh;
    }
    
    
    #contactUs{
    
        font-size: 14px;
      
        position: relative;
      top: 0.7em;
        left:50vh;
       
    }
    
}



@media (min-width: 1335px){
    footer{
        position: relative;
     
    }
    
    #firstBackgroundFooter{


    height: 125vh;
        width:114.8vh;
        background-color: #A21F24;
      top: -54em;
        z-index:2;  
    }
    
    #shieldFooter{
        top: 2em;
    }
  
    #secondBackgroundFooter{
        position: relative;
        width:114.8vh;
        background-color:#6C1115;
        height: 30vh;
     top: -87em;
       z-index: 2;
    }
 
    
    #top{
        bottom: 100em;
    }
    #separatorLineFooter{
        top: -94em;
    }

    #sponsorFont{
       top: -55.8em;
    }
  
    #sponsor{
        top: -87em;
    }
    
    #copy {
        position: relative;
        left: 1em;
        display: flex;
        justify-content: space-between;
        width: 26em;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        color: white;
      top: 1em;
    }
    
    
    #developing {
        position: relative;
        top: 2.8em;
       left: 50em;
     
    }
    
    
    
    #followUs{

  
        position: relative;
        top: 8vh;
        left: 2.5vh;
    }
    
    .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
        color: white;
        font-size: 27px;
        position: relative;
        left:20vh;
        width: 4.8vh;
        top: 3vh;
    }
    
    
    #contactUs{
    
        font-size: 14px;
      
        position: relative;
        
        left: 50vh;
       top:0.1em;
    }
}

@media (min-width: 1600px){
    #firstBackgroundFooter{

top: -52.6em;
    height: 50.1em;
       width: 112vh;
  
    }
    
  
    #secondBackgroundFooter{
        position: relative;
        width:112vh;
        background-color:#6C1115;
        height: 30vh;
       
       z-index: 2;
    }
 #developing{
    left: 54em;
    top: 4.2em;
 }
 #copy{
    left: 1.5em;
    top: 2.5em;
 }
 .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
       
        top: 1.4em;
        left: 5em;
    }

#contactUs{
    top: 0.8em;
    left: 30em;
}
}
@media screen and (min-height: 455px) and (max-height: 786px){
    #developing{
        top: 6em;
       
    }
}
@media screen and (min-height: 788px) and (max-width:400px){
    #developing{
        top: 6em;
       
    }
}


@media screen and (max-height: 605px) {
    #firstBackgroundFooter{
            height:46.1em;
            }
            #sponsor{
                width: 10em;
            }
            #sponsorFont{
                top: -55em;
            }
            #secondBackgroundFooter{
                height: 52vh;
            }
            #followUs{
                left: 5em;
            }
            .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
       left: 1.5em;
    }
    #contactUs{
      left: 3.5em;
    }
    #copy{
        width: 9em;
        left: 2.6em;
    }
    #developing{
        left: 1.5em;
        top: 8em;
    }

  }


  @media screen and (min-height: 690px) and (max-height: 882px) {
    #firstBackgroundFooter{
        height: 100vh;
    }
  }
  @media screen and (min-height: 760px){
#shieldFooter{
    bottom: 8em;
}
  }

  @media screen and (min-height: 845px){
    #shieldFooter{
        bottom: 12em;
    }
  }

  @media screen and (min-height: 767px) and (max-width:799px){
   #followUs{
    left: 3em;
   }
   #contactUs{
    left: 15em;
   }
   #copy{
    left: 3em;
   }
   #developing{
    left: 10em;
   }

   #secondBackgroundFooter{
    height: 30vh;
   }
  
  }

  @media screen and (min-height: 882px) and (max-width:400px){
    #developing{
        top: 7em;
    }
  }


  @media screen and (min-height: 606px) and (max-height:699px){
    #developing{
        left: 6em;
        margin-bottom: 3em;
    }
  }

  @media screen and (width: 800px) and (height: 670px) {
    
    .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
       top: 0.6em;
    }

    #contactUs{
        top: -0.5em;
    }
  }



  @media screen and (min-width: 800px) and (min-height: 670px) and (max-height: 735px) {
    #developing{
        left: 27em;
        top: 1.5em;
    }
  }

  
  @media screen and (min-width: 800px) and (min-height: 736px) and (max-height: 835px) {
    #developing{
        left: 30em;
        top: 3.6em;
    }
  }