footer{
    position: relative;
   top: 91em;
  
}


.gridf-center{
   display: grid;
justify-items: center;
justify-content: center;

}

#firstBackgroundFooter{
    
    position: relative;


    width:43vh;
    background-color: #A21F24;
    height: 110vh;
    bottom: 57em; 
    z-index:2;  
}



#secondBackgroundFooter{
    position: relative;
    width:43vh;
    background-color:#6C1115;
    height: 35vh;
   bottom: 90.8em;
   z-index: 2;
}



#copy {
    position: relative;
    left: 1em;
    display: flex;
    justify-content: space-between;
    width: 16em;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}


#developing {
    position: relative;
    top: 7.5em;
   left: 8em;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}


#followUs{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 8.8vh;
    left: 2.5vh;
}

.fa-youtube,
.fa-instagram,
.fa-square-facebook,
.fa-twitter,
.fa-tiktok{
    color: white;
    font-size: 27px;
    position: relative;
    left:14vh;
    width: 4.8vh;
    top: 3.2vh;
}


#contactUs{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 4vh;
    left: 25vh;
    text-transform: uppercase;
}



#shieldFooter{
    position: relative;
   
    width: 30vh;
    bottom:14em;
    z-index:3;
}
 #top{
    position:relative;
    bottom: 92em;
 }


#separatorLineFooter{
    background-color: white;
    width: 90vh;
    height: 2px;
    bottom:100em;
    
    z-index:3;
    
    position: relative;
}



#sponsor{
    bottom: 92em;
    
    z-index:3;
    position: relative;
}


#sponsorFont{
    color: #fff;

    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 44px;
bottom: 58.8em;
    z-index: 3;
    position: relative;
 
}



#sponsor{
    filter: grayscale();
    border-radius: 8px;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}


#sponsor:hover{
 filter:none
}



#shieldFooter:hover{
        content:"";
        transition:1.9s;
        transform:rotate(-360deg) translate(0,-100px);
      
}

@media (min-width: 800px){
    footer{
        position: relative;
 top:90.5em;

    }
    
    #firstBackgroundFooter{


    
        width:90.8vh;
        background-color: #A21F24;
        height: 110vh;
        
        z-index:2;  
    }
    
   
    
    #secondBackgroundFooter{
        position: relative;
        width:90.8vh;
        background-color:#6C1115;
        height: 30vh;
       
       z-index: 2;
    }
    
    
    
    #copy {
        position: relative;
        left: 1em;
        display: flex;
        justify-content: space-between;
        width: 26em;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        color: white;
        top: 3em;
    }
    
    
    #developing {
        position: relative;
        top: 4.8em;
       left: 37em;
        
    }
    
    
    
    #followUs{

  
        position: relative;
        top: 8.8vh;
        left: 2.5vh;
    }
    
    .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
        color: white;
        font-size: 27px;
        position: relative;
        left:14vh;
        width: 4.8vh;
        top: 4vh;
    }
    
    
    #contactUs{
    
        font-size: 14px;
      
        position: relative;
        top: 1vh;
        left: 42vh;
       
    }
    
}



@media (min-width: 1335px){
    footer{
        position: relative;
     
    }
    
    #firstBackgroundFooter{


    height: 125vh;
        width:114.8vh;
        background-color: #A21F24;
      top: -54em;
        z-index:2;  
    }
    
  
    #secondBackgroundFooter{
        position: relative;
        width:114.8vh;
        background-color:#6C1115;
        height: 30vh;
     top: -87em;
       z-index: 2;
    }
 
    
    #top{
        bottom: 100em;
    }
    #separatorLineFooter{
        top: -105em;
    }

    #sponsorFont{
       top: -60em;
    }
  
    
    #copy {
        position: relative;
        left: 1em;
        display: flex;
        justify-content: space-between;
        width: 26em;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        color: white;
        top: 3em;
    }
    
    
    #developing {
        position: relative;
        top: 4.8em;
       left: 37em;
        
    }
    
    
    
    #followUs{

  
        position: relative;
        top: 8.8vh;
        left: 2.5vh;
    }
    
    .fa-youtube,
    .fa-instagram,
    .fa-square-facebook,
    .fa-twitter,
    .fa-tiktok{
        color: white;
        font-size: 27px;
        position: relative;
        left:14vh;
        width: 4.8vh;
        top: 4vh;
    }
    
    
    #contactUs{
    
        font-size: 14px;
      
        position: relative;
        top: 1vh;
        left: 42vh;
       
    }
}

@media (min-width: 1600px){
    #firstBackgroundFooter{

top: -52.6em;
    
       width: 112vh;
  
    }
    
  
    #secondBackgroundFooter{
        position: relative;
        width:112vh;
        background-color:#6C1115;
        height: 30vh;
       
       z-index: 2;
    }
 #developing{
    left: 54em;
 }
 #copy{
    left: 1.5em;
 }
}