/* TopHeader */
#topHeader{
    width: 100vw;
    height: 20px;
    background-color: #CA1010;
}

#topHeader{
    position:relative;
    text-align: center;
   
}



/* items */
.fa-bolt,
.fa-phone,
.fa-envelope,
#mail{
  position: relative;
  color: white;
  bottom: 2px;
  
}

.fa-phone{
  right: 4.8em;
}
.fa-envelope{
  right: 4.7em;
}
#mail{
  left: 3.6em;
  bottom:3.2vh;

}
.fa-bolt{
    right:8em;
}







/* Header */
#mainHeader{
    display: flex;
    background-color: black;
    height: 20vh;
    align-items: center;
  justify-content: center;
  
  }

  .ss{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0.5em;
  }
  .ss:hover{
    opacity: 0.7;
  }
  
  .escudeto2 {
    position: relative;
    display: flex;
  margin-left: 29em;
    align-items: center;

  }
  
  #mainHeader ul {
    display: flex;
    list-style-type: none;
   flex-direction: column;
    padding: 0em 5em 0em 3em; 
  
  
  }
  
  #mainHeader a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial,sans-serif;
    font-weight: 600;
    line-height: 1.618;
    position: relative;
    top: 5px;
    
  }
  
  
  
  
  
  #mainHeader li {

  position: relative;

  display: flex;
  
  } 
  
  #oneL li{
    display: flex;
    right: 14em;
  }
  
  #twoL li{
    width:7em;
    right: 13em;
  }

@media (min-width: 769px) {
    #mail, .fa-envelope, .fa-phone {
        margin-left: 30em;        
       
    }
    #mail{
        bottom: 3.2em;
        left: 4.5em;
    } 
    .fa-phone{
        right: 80px
    }
    .fa-envelope{
        bottom: 1.6em;
        right: 2.8em;
    }
    


    #mainHeader{
        display: flex;
        background-color: black;
        height: 11vh;
        align-items: center;
      justify-content: center;
      
      }
    

      #mainHeader ul {
        display: flex;
        list-style-type: none;
       flex-direction: row;
        padding: 0em 5em 0em 3em; 
      
      
      }
      
      #mainHeader a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Arial,sans-serif;
        font-weight: 600;
        line-height: 1.618;
        position: relative;
        top: 5px;
        
      }
      
      .escudeto2 {
        position: relative;
        display: flex;
      margin-left: 62.5em;
        align-items: center;
    
      }
      
      
      
      #mainHeader li {
      width: 2em;
      position: relative;
    
      display: flex;
      
      } 
      
      #oneL li{
        display: flex;
        right: 29em;
        width:7em;
      }
      
      #twoL li{
        width:7em;
        right: 29em;
      }
    



}
 
@media (min-width: 1015px) {
    #mail, .fa-envelope, .fa-phone {
        margin-left: 40em;        
       
    }
    #mail{
        bottom: 3.2em;
    } 
    .fa-phone{
        right:5.5em
    }
    .fa-envelope{
        bottom: 1.6em;
        right: 3.1em
    }
    .fa-bolt{
        right: 10em;
    }
}



@media (min-width: 1335px) {
    #mail, .fa-envelope, .fa-phone {
        margin-left: 60em;        
       
    }
    #mail{
        bottom: 3.2em;
    } 
    .fa-phone{
        right:5.5em
    }
    .fa-envelope{
        bottom: 1.6em;
        right: 3.3em
    }
    .fa-bolt{
        right: 10em;
    }

    #mainHeader ul {
        position: relative;
        right: 2em;
      
      
      }
      #twoL li{
        right:26.4em;
      }
    
      .escudeto2 {
       margin-right: 0em;
    
      }
}

