.Historia{
    margin-bottom: -26em;
    display: grid;
}
#history{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    text-align: justify;
    position: relative;
    
top: 40em;

    font-weight: 500;
}

#titleHistory {
 
    position: relative;

    font-size: 30px;
   
    font-weight: 800;
 text-decoration: underline ;

}


#titleEstadium{
 
    position: relative;

    font-size: 30px;
 
    font-weight: 800;
 text-decoration: underline ;

}



#players{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    top: 40em;
    font-weight: 500;

    height: 100vh;
    align-content: flex-start
}

#titlePlayers {
    
    position: relative;

    font-size: 30px;

    font-weight: 800;
text-decoration: underline;

}

#datesClub{
    text-align: center;
    position: relative;
 
    
    font-weight: 500;
    height: 39vh;
    margin-top: 18em;
    margin-bottom: -28em;
}

@media (min-width:409px) {
    #datesClub{
        margin-top: 10em;
        margin-bottom: -30em;
    }
}

@media (min-width:555px){
    #datesClub{
        margin-top: 5em;
        margin-bottom: -35em;
    }
}

@media (min-width: 1035px) {
    #titlePlayers{
        margin-right: 2em;
    }  
}


#titleDatesClub{
 
    position: relative;

    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
 text-decoration: underline ;
}

#titleTotal{
   
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
 text-decoration: underline ;
}

#total{
    position: relative;
 
}

.buttonH{
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
   
}

#mostrar-texto{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 36em;
    
}

#mostrar-texto:hover{
    background-color: #f5f5f5;
}

#Historia {
    display: none; /* Oculta el elemento por defecto */

  
  }
  
  #Historia.mostrar {
    display: block; /* Muestra el elemento cuando se agrega la clase "mostrar" */
   
  }

@media (min-width:769px){
   
    #history{
        margin-left: 4em;
        margin-right: 4em;
        top: 50em;
    }

    #players{
        margin-left: 4em;
        margin-right: 4em;
        top: 52em;
    }
    #titlePlayers{
        bottom: 0.5em;
    }
    #datesClub{
        
        margin-top: 14em;
    }
 
    #mostrar-texto{
        top: 45.6em
     }
     #Historia{
         margin-bottom: -50em;
     }
}

@media (min-width:800px){
    .Historia{
        position: relative;
        margin-top: -10em;
       
    }
    
#datesClub{
    margin-bottom: -40em;
    margin-top: 12em;
}
}

@media (min-width:1105px){
#players{
    top: 52em;
}

}

@media (min-width:1140px){
    #history{
        margin-left: 12em;
        margin-right: 12em;
    }
    #players{
        margin-left: 12em;
        margin-right: 12em;
    }
}
@media (min-width: 1335px){
    #history{
        margin-left: 20em;
        margin-right: 20em;
    }
    #mostrar-texto{
       top: 30.5em
    }
    #Historia{
        margin-bottom: -30em;
    }
      
}
@media (min-width:1600px){
    #history{
        margin-left: 20em;
        margin-right: 20em;
    }
    
    #players{
        margin-left: 20em;
        margin-right: 20em;
        
    }
#datesClub{
    margin-bottom: -40em;
    margin-top: 6em;
}
#titleDatesClub{
    bottom:0em
}
#titleTotal{
    position: relative;
    top: 1em;
}
#total{
    top:3em;
}
#Historia{
    margin-bottom: -30em;
}
}