.Historia{
  
    display: grid;

}
#history{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    text-align: justify;
    position: relative;
    
bottom: 48em;
    font-family: sans-serif;
    font-weight: 600;
}




#titleHistory {
 
    position: relative;

    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
 text-decoration: underline ;

}




#players{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    bottom: 48em;
    font-family: sans-serif;
    font-weight: 600;
    height: 100vh;
    align-content: flex-start
}

#titlePlayers {
    
    position: relative;

    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
text-decoration: underline
}



#datesClub{
    text-align: center;
    position: relative;
    bottom:84em;
    font-family: sans-serif;
    font-weight: 600;
    height: 39vh;
}

#titleDatesClub{
 
    position: relative;
   
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
 text-decoration: underline ;
}

#titleTotal{
   
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
 text-decoration: underline ;
}

#total{
    position: relative;
 
}



@media (min-width: 1335px){
    #datesClub{
       
        bottom:92em;
       
    }
}
@media (min-width:769px){
   
    #history{
        margin-left: 4em;
        margin-right: 4em;
    }

    #players{
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media (min-width:800px){
    .Historia{
        position: relative;
     bottom: 10em;   
    }
}