.grid-post{
    position: relative;
    display: grid;
   top: 30em;

}

#post{
    position: relative;
    text-align: center;
}
#posting {
    position:relative   ;
   width: 20em;
   height: 24em;
  
}


#postTitle{
    position: relative;
    margin-bottom: 1em;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}




.grid-pib{
    position: relative;
    display: grid;
  top:24em ;
  justify-items:center
}

#postingInf{
    position:relative   ;
    top: 10vh;
    height: 24.5em;
    width: 38vh;
   
}

#infTitle{
    position: relative;
    top: 2em;
   
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
}

#inferiores{
    position: relative;
    top: 8vh;
 
}
@media (min-width: 769px){
    .grid-pib{
        top: 35em;
    }
   .grid-post{
    position: relative;
    top: 44em;
   }
}

@media (min-width: 800px){
    .grid-post{
        position: relative;
        display: grid;
        top: 26em;
    
    }
    #posting {
        position:relative   ;
       width: 48em;
       height: 52em;
      
    }
    

    .grid-pib{
        top: 20em;
    }
    
    #postingInf{
        top: 10vh;
        height: 52em;
        width: 48em;
    }

    

  
}