#shield{
    position: relative;
    width: 15em;
    display: flex;
    margin: 0 auto;
    bottom: 36em;
}

#title{
    text-align: center;
    font-size: 40px;
    font-family:  Sans-serif;
    font-weight: 900;
    position: relative;
    bottom: 14.5em;
    -webkit-text-stroke: 1px #D21018;
}

.grid-ray{
    position: relative;
 display: grid;

}


#ray{
grid-column-start: 2;
position: relative;
bottom: 36.5em;
width: 10em;
}

.grid-result{
    position: relative;
    display: grid;
    justify-items: center;
  
}

#lastResult{
    bottom: 70em;
    position: relative;

    
}

.grid-text{
    position: relative;
    display: grid;
    font-family:  Sans-serif;
    justify-items: center;
    line-height: 0.6;
    top:1em;
}

#result{
    font-weight: 800;
}
#detail{
    font-weight: 500;
}
#stadium{
    font-weight: 600;
}





#nextMatch{
    position: relative;
    bottom: 65em;
}

.detail{
    font-weight: 500;
}

.stadium{
    font-weight: 600;
}


.grid-result2{
    position: relative;
    display: grid;
    justify-items: center;
  
}



.grid-text2{
    position: relative;
    display: grid;
    font-family:  Sans-serif;
    justify-items: center;
    line-height: 0.6;
    top:1em;
}






.grid-team{
    position: relative;
    display: grid;
    justify-items: center;
}

#team{
    position: relative;
   width: 20.3em;
    opacity: .7;
    grid-column-start: 1;
    border: 2px solid #D21018;
    bottom: 61.5em;
}
@media (min-width: 769px) {

    #shield{
       width: 20em;
    }
    #title{
        font-size: 4.1em;
        bottom: 8.8em;
    }
    #ray{
        width: 12.5em;
        bottom: 35em;
        }
        
}

@media (min-width: 800px) {
    #lastImg{
        width: 25em;
       }
       #aDefinir{
        width: 25em;
       }
       #result{
        font-size: 22px
       }
    #detail{
        font-size: 20px
    }
    #lastResult{
        position: relative;
        display: grid;
        grid-column-start:2;
        right:14em;
        
    }
    
    
    #nextMatch{
        position: relative;
        display: grid;
        grid-column-start:2;
       left: 14em;
        bottom: 92em;
    }
    
    #next{
        position: relative;
        bottom: 0.7em;
    }
    .detail{
        font-size: 22px;
    }
    
    #team{
        position: relative;
       width: 48em;
        opacity: .7;
        grid-column-start: 1;
        border: 2px solid #D21018;
        bottom: 86.5em;
        height: 60vh;
    }
}

@media (min-width: 1335px){
   #shield{
    width: 25em;
   }
   #lastImg{
    width: 25em;
   }
   #aDefinir{
    width: 25em;
   }
   #result{
    font-size: 22px
   }
#detail{
    font-size: 20px
}
#lastResult{
    position: relative;
    display: grid;
    grid-column-start:2;
    right:14em;
    
}


#nextMatch{
    position: relative;
    display: grid;
    grid-column-start:2;
   left: 14em;
    bottom: 92em;
}

#next{
    position: relative;
    bottom: 0.7em;
}
.detail{
    font-size: 22px;
}

#team{
    position: relative;
   width: 80.3em;
    opacity: .7;
    grid-column-start: 1;
    border: 2px solid #D21018;
    bottom: 86.5em;
    height: 60vh;
}
}