#shield{
    position: relative;
    width: 15em;
    display: flex;
    margin: 0 auto;
    top: 1em;
}

#title{
    text-align: center;
    font-size: 40px;
    font-family:  Sans-serif;
    font-weight: 900;
    position: relative;
    top: 0.5em;
    -webkit-text-stroke: 1px #D21018;
}

.grid-ray{
    position: relative;
 display: grid;

}


#ray{
grid-column-start: 2;
position: relative;
top: 2em;
width: 10em;
}

.grid-result{
    position: relative;
    display: grid;
    justify-items: center;
  
}

#lastResult{
    top: 6em;
    position: relative;

    
}

.grid-text{
    position: relative;
    display: grid;
    font-family:  Sans-serif;
    justify-items: center;
    line-height: 0.6;
    top:1em;
}

#result{
    font-weight: 800;
}
#detail{
    font-weight: 500;
}
#stadium{
    font-weight: 600;
}





#nextMatch{
    position: relative;
   top: 10em;
}

.detail{
    font-weight: 500;
}

.stadium{
    font-weight: 600;
}


.grid-result2{
    position: relative;
    display: grid;
    justify-items: center;
  
}



.grid-text2{
    position: relative;
    display: grid;
    font-family:  Sans-serif;
    justify-items: center;
    line-height: 0.6;
    top:1em;
}






.grid-team{
    position: relative;
    display: grid;
    justify-items: center;
}

#team{
    position: relative;
   width: 20.3em;
    opacity: .7;
    grid-column-start: 1;
    top: 16.5em;
    border: 20px solid transparent;
    border-radius: 10px;
    border-image: linear-gradient(to right, #ffffff, #ff0000);
   
}

  
@media (min-width: 769px) {

    #shield{
       width: 20em;
       top: 2.5em;
    }
    #title{
        font-size: 4.1em;
        top: 0.8em;
    }
   

        #team{
            position: relative;
           width: 48em;
            opacity: .7;
            grid-column-start: 1;
            border: 2px solid #D21018;
           top: 24em;
            height: 60vh;
        }
        #lastImg{
            width: 25em;
           }
         #aDefinir{
            width: 25em;
         }
         #result{
            font-size: 22px
           }
        #detail{
            font-size: 20px
        }

        #lastResult{
top: 12em;
        }
        #nextMatch{
            top: 16em;
        }
        #ray{
            width: 12.5em;
           top:4em;
            }
}

@media (min-width: 800px) {


    #lastResult{
        position: relative;
        display: grid;
        grid-column-start:2;
        right:14em;
        
    }
    
    
    #nextMatch{
        position: relative;
        display: grid;
        grid-column-start:2;
       left: 14em;
    margin-bottom: 0em;
    margin-top: 0em;
    top: -10em;
    }
    
    #next{
        position: relative;
        bottom: 0.9em;
    }
    .detail{
        font-size: 22px;
    }
    
    #team{
        position: relative;
       width: 48em;
        opacity: .7;
        grid-column-start: 1;
        border: 2px solid #D21018;
       top: 0em;
        height: 60vh;
    }
    #ray{
        width: 12.5em;
        bottom: 36em;
        }
  
        
}

@media (min-width: 1335px){
   #shield{
    width: 25em;
   }
   #ray{
    top: 5em;
   }
   #lastImg{
    width: 25em;
   }
   #aDefinir{
    width: 25em;
   }
   #result{
    font-size: 22px
   }
#detail{
    font-size: 20px
}
#lastResult{
    position: relative;
    display: grid;
    grid-column-start:2;
    right:14em;
    
}


#nextMatch{
    position: relative;
    display: grid;
    grid-column-start:2;
   left: 14em;
   margin-bottom: 0em;
   margin-top: 0em;
   top: -10em;
}

#next{
    position: relative;
   
}
.detail{
    font-size: 22px;
}

#team{
    position: relative;
   width: 60.3em;
    opacity: .7;
    grid-column-start: 1;
    border: 2px solid #D21018;
   
    height: 60vh;
}

#title{
    font-size: 90px;
   
}


}


@media (min-width: 1600px){
    #ray{
        top: 4.8em;
       }
}