* {
    box-sizing: border-box;
  }


  body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family: Montserrat,sans-serif;
   
  }
.hidden{
  overflow: hidden;
  
}




.loadbg{
margin: auto;
height: 100vh;
  width:100vw;
  
}
.position-escudeto{
  position: relative;
  z-index: 1;
bottom: 35em;
text-align: center;
}
.escudeto{
  max-width: 100px;
  margin: 0 auto;
 
}


@media (min-width: 1600px){
  body {
    background-color: red;
    background-image: linear-gradient(to right, #D21018 0%, #D21018 16em, transparent 10em, transparent calc(100% - 16em), #D21018 calc(100% - 16em), #D21018 100%);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
}


/* 


#lineRed{
  background-color: #D21018;
  width: 1px;
  height: 12vh;
  top:52vh;
  left: 29.9vh;
  z-index:3;
  position: absolute;
}


#lineRedRight{
  background-color: #D21018;
  width: 1px;
  height: 12vh;
  top:53vh;
  left:168.4vh;
  z-index:3;
  position: absolute;
}




 */
